page {
  height: 100%;
}

.discounts {
  box-sizing: border-box;
  padding: 30rpx;
  background-color: #e4485b;
  width: 100%;
  min-height: 100%;

  // 头部部分
  .header {
    width: 100%;
    background-color: #fff;
    border-radius: 10rpx;
    box-sizing: border-box;
    padding: 20rpx 20rpx 70rpx 20rpx;
    position: relative;
    margin-bottom: 20rpx;

    &-title {
      font-size: 32rpx;
      color: #333;
      font-weight: 600;
      margin-bottom: 20rpx;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20rpx;
      background-color: #fff1f2;
      border-radius: 10rpx;

      &-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 32rpx;
        color: #E3524F;
        font-weight: 600;
        margin-bottom: 20rpx;

        text:last-child {
          font-size: 26rpx;
          font-weight: normal;
          color: #747474;
          margin-top: 10rpx;
        }
      }

      &-main:last-child {
        margin-bottom: 0;
      }
    }

    &-no_data {
      width: 100%;
      height: 232rpx;
      font-size: 32rpx;
      color: #E3524F;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10rpx;
      background-color: #fff1f2;
    }

    .decorate {
      position: absolute;
      left: 6%;
      bottom: -11%;
      width: 10rpx;
      height: 60rpx;
      background-color: #ec5551;

      &::after {
        content: '';
        width: 18rpx;
        height: 18rpx;
        border-radius: 50%;
        background-color: #ec5551;
        position: absolute;
        left: -30%;
        top: -15%;
      }

      &::before {
        content: '';
        width: 18rpx;
        height: 18rpx;
        border-radius: 50%;
        background-color: #ec5551;
        position: absolute;
        left: -30%;
        bottom: -15%;
      }
    }

    .decorate2 {
      position: absolute;
      right: 6%;
      bottom: -11%;
      width: 10rpx;
      height: 60rpx;
      background-color: #ec5551;

      &::after {
        content: '';
        width: 18rpx;
        height: 18rpx;
        border-radius: 50%;
        background-color: #ec5551;
        position: absolute;
        right: -30%;
        top: -15%;
      }

      &::before {
        content: '';
        width: 18rpx;
        height: 18rpx;
        border-radius: 50%;
        background-color: #ec5551;
        position: absolute;
        right: -30%;
        bottom: -15%;
      }
    }
  }

  //列表
  .content {
    border-radius: 10rpx;
    background-color: #fff;
    min-height: 100%;
    box-sizing: border-box;
    padding: 60rpx 20rpx 20rpx 20rpx;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &-list {
      width: 314rpx;
      border: 1rpx solid #eee;
      border-radius: 10rpx;
      position: relative;
      margin-bottom: 20rpx;

      &-img {
        width: 310rpx;
        height: 310rpx;

        image {
          width: 100%;
          height: 100%;
          border-radius: 10rpx 10rpx 0 0;
        }
      }

      &-main {
        width: 310rpx;
        padding: 10rpx 10rpx 20rpx 10rpx;

        &-title {
          font-size: 28rpx;
          color: #333333;
        }

        &-price_wrap {
          display: flex;
          align-items: center;

          &-price {
            font-size: 24rpx;
            color: #E7483F;
            margin: 10rpx 10rpx 10rpx 0;

            text:last-child {
              font-size: 32rpx;
              font-weight: 600;
            }
          }

          &-title {
            font-size: 18rpx;
            color: #FFFFFF;
            width: 110rpx;
            height: 30rpx;
            max-width: 150rpx;
            border-radius: 15rpx 15rpx 15rpx 0;
            background-color: #e55355;
            text-align: center;
            line-height: 30rpx;
          }
        }

        &-old_price {
          font-size: 20rpx;
          color: #999999;
        }
      }

      &-add_btn {
        width: 50rpx;
        height: 50rpx;
        font-size: 50rpx;
        // font-weight: 600;
        color: #fff;
        position: absolute;
        right: 20rpx;
        bottom: 20rpx;
        background-color: #d9b583;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }

    &-no_data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 100rpx auto;

      image {
        width: 489rpx;
        height: 307rpx;
        margin-bottom: 50rpx;
      }

      text {
        font-size: 30rpx;
        color: #999999;
      }
    }
  }
}