.steps-wrap{
  padding: 30rpx;
}
.goods-wrap{padding: 30rpx;
  background-color: #fff;
}
.van-card__title {
  font-size: 28rpx;
  margin-top: 10rpx;
  margin-bottom: 15rpx;
}

.no_steps{
  font-size: 30rpx;
  color:#999;
  text-align: center;
  margin: 100rpx auto;
}